*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#f7ecec;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    scroll-behavior:smooth;
    margin: 0 auto;
}

h1{
  padding-bottom: 1.2rem;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 0.9rem;
}

h3{
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  font-weight: 700;
}

::-webkit-scrollbar {
    display: none;
}

#hero-header{
   
    position: relative;
    padding-left: 2rem;
    top: 22rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 113px;
    text-transform: uppercase;

    color: Black;
}

#hero-description{
    position: relative;
    padding-left: 2rem;
    top: 22.5rem;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: Black;
}

.banner-wrapper{
    background-color: #f7ecec;
    padding-left: 50%;
    height: 600px;
}

.morph-ball {
    display: block;
}

.spacer{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.wave{
    background-image: url('./images/waves.svg');
    display: block; 
}

.cushion { 
    background-color: rgb(115, 36, 234);
    height: 50px;
}

.about {
    position: relative;
    padding-left: 7rem;
    background-color: rgb(115, 36, 234);
    height: 700px;
}
   
.table-div {
    background-color:rgb(115, 36, 234);
    position: relative;
    padding-top: 100px;
    padding-left: 2rem;
}

.table {
    position: relative;
    padding:1.2rem 1.2rem 1.2rem 1.2rem;
    top: 15rem;
    line-height: .6cm;

    background-color: #dcbafb;
    margin: 25px 0px; 
    font-size: 1em;
    width: 650px;
    min-width: 400px;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
    border-radius: 10px/10px;
}
.courses{
  position: relative;
  padding:1.2rem 1.2rem 1.2rem 1.2rem;
  top: 3rem;
  left: 7rem;
  line-height: .6cm;

  
  
  background-color: #dcbafb;
  margin: 25px 0px; 
  font-size: 1em;
  width: 650px;
  min-width: 400px;
  box-shadow: 0 0 20px rgb(0, 0, 0.15);
  border-radius: 10px/10px;
}

.connect{
  position: relative;
  padding:1.2rem 1.2rem 1.2rem 1.2rem;
  bottom: 35rem;
  left: 75rem;
  line-height: .6cm;
  text-align: center;
  
  
  background-color: #dcbafb;
  margin: 25px 0px; 
  font-size: 1em;
  width: 350px;
  min-width: 300px;
  box-shadow: 0 0 20px rgb(0, 0, 0.15);
  border-radius: 10px/10px;

}

.bottom-site {
    background-color: rgb(115, 36, 234);
}
.img-div {
    position: relative;
    left: 60rem;
    bottom: 15rem;

    width:500px;
    height:500px;
    background-image: url("/src/images/IMG-8967.jpg");
    border-radius: 50%;
    background-size: cover;
}



/* Scoial Media Icons */

.social-icons{
  font-size: 86px;
  color:rgba(18, 91, 248, 0.667);
  transition: 0.2s;
  text-decoration: none;
  margin: 20px;
}

.social-icons:hover {
  color: #3333;
}


.bottom{
  background-color: rgb(115, 36, 234);
  height: 15rem;
}
/* Media changes */

@media (max-width:1150px ) {
  .morph-ball {
      display: none;
  }
}

@media (max-width:1500px ) {
  .img-div {
    position: relative;
    left: 55rem;
    bottom: 15rem;
  }

  .connect{
    position: relative;
    left: 65rem;
    bottom: 35rem;
  }
}

@media (max-width:1400px ) {
  .img-div {
    position: relative;
    left: 50rem;
    bottom: 15rem;
  }

  .connect{
    position: relative;
    left: 60rem;
    bottom: 35rem;
  }
}

@media (max-width: 1300px ) {
  .img-div {
    position: relative;
    left: 45rem;
    bottom: 15rem;
    width: 420px;
    height: 420px;
  }
  .connect{
    position: relative;
    left: 55rem;
    bottom: 40rem;
  }
  .table{
    width: 550px;
    min-width: 400px;
  }
  .courses{
    width: 550px;
    min-width: 400px;
  }
}

@media (max-width:1100px ) {
  .img-div {
    position: relative;
    left: 13rem;
    bottom: 30rem;

    width: 420px;
    height: 420px;
  }
  .connect{
    position: relative;
    left: 20rem;
    top: 50rem;
    width: 450px;
    min-width: 400px;
  }
  .table{
    position: relative;
    left: 13rem;
    top: 40rem;

    width: 450px;
    min-width: 400px;
  }
  .courses{
    position: relative;
    left: 20rem;
    top: 40rem;

    width: 450px;
    min-width: 400px;
  }

  .bottom{
    height: 60rem;
  }
}

@media (max-width:1000px ) {
  .img-div {
    position: relative;
    left: 13rem;
    bottom: 35rem;

    width: 420px;
    height: 420px;
  }
  .connect{
    position: relative;
    left: 20rem;
    top: 50rem;
    width: 450px;
    min-width: 400px;
  }
  .table{
    position: relative;
    left: 13rem;
    top: 40rem;

    width: 450px;
    min-width: 400px;
  }
  .courses{
    left: 20rem;
    top: 40rem;

    width: 450px;
    min-width: 400px;
  }

  .bottom{
    height: 60rem;
  }
}

@media (max-width:950px ) {
  .img-div {
    position: relative;
    left: 7rem;
    bottom: 30rem;

    width: 420px;
    height: 420px;
  }
  .connect{
    position: relative;
    left: 13rem;
    top: 50rem;
    width: 450px;
    min-width: 400px;
  }
  .table{
    position: relative;
    left: 7rem;
    top: 40rem;

    width: 450px;
    min-width: 400px;
  }
  .courses{
    position: relative;
    left: 13rem;
    top: 40rem;

    width: 450px;
    min-width: 400px;
  }

  .bottom{
    height: 60rem;
  }
}

@media (max-width:700px ) {
  .img-div {
    position: relative;
    left: -2.7rem;
    bottom: 37rem;

    width: 250px;
    height: 250px;
  }
  .connect{
    position: relative;
    padding:1.2rem 1.2rem 1.2rem 1.2rem;
    left: -4rem;
    bottom: 30rem;
    left: 3rem;
    top: 25rem;
    width: 300px;
    min-width: 300px;
  }
  .social-icons{
    font-size: 64px;
    color:rgba(18, 91, 248, 0.667);
    transition: 0.2s;
    text-decoration: none;
    margin: 20px;
  }
  .table{
    position: relative;
    padding:1.2rem 1.2rem 1.2rem 1.2rem;
    left: -4rem;
    bottom: 30rem;
    top: 25rem;
    line-height: .6cm;

    background-color: #dcbafb;
    margin: 25px 0px; 
    font-size: .8em;
    width: 300px;
    min-width: 300px;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
    border-radius: 10px/10px;
  }
  .courses{
    position: relative;
    padding:1.2rem 1.2rem 1.2rem 1.2rem;
    left: -4rem;
    bottom: 30rem;
    left: 3rem;
    top: 25rem;
    line-height: .6cm;

    background-color: #dcbafb;
    margin: 25px 0px; 
    font-size: .8em;
    width: 300px;
    min-width: 300px;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
    border-radius: 10px/10px;
  }
  .bottom{
    height: 35rem;
  }
}










