*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color:#f7ecec;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    scroll-behavior:smooth;
    margin: 0 auto;
}
::-webkit-scrollbar {
    display: none;
}



#hero-header{
   
    position: relative;
    padding-left: 2rem;
    top: 22rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 113px;
    text-transform: uppercase;

    color: Black;
}

#hero-description{
    position: relative;
    padding-left: 2rem;
    top: 22.5rem;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: Black;
}

.banner-wrapper{
    background-color: #f7ecec;
    padding-left: 50%;
    height: 600px;
}

.morph-ball {
    display: block;
}

.spacer{
    aspect-ratio: 960/400;
    width: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.wave{
    background-image: url('./images/waves.svg');
    display: block; 
}

.cushion { 
    background-color: rgb(115, 36, 234);
    height: 50px;
}

.about {
    position: relative;
    padding-left: 7rem;
    background-color: rgb(115, 36, 234);
    height: 700px;
}
   
@media (max-width:1150px ) {
    .morph-ball {
        display: none;
    }
}

.table-div {
    background-color:rgb(115, 36, 234);
    position: relative;
    padding-top: 100px;
    padding-left: 2rem;
}

.table {
    position: relative;
    padding:1rem 1rem 1rem 1rem;
    top: 15rem;
    line-height: .6cm;

    background-color: #dcbafb;
    margin: 25px 0px; 
    font-size: 1em;
    width: 650px;
    min-width: 400px;
    box-shadow: 0 0 20px rgb(0, 0, 0.15);
    border-radius: 10px/10px;
}
.bottom-site {
    background-color: rgb(115, 36, 234);
}
.img-div {
    position: relative;
    left: 60rem;
    bottom: 15rem;

    width:500px;
    height:500px;
    background-image: url("/src/images/IMG-8967.jpg");
    border-radius: 50%;
    background-size: cover;
}

hr.solid {
  border-top: 7px solid #bbb;
}



/* social icons */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #ffffff;
  color: black;
}

/* Github */
.fa-github {
  background: #ffffff;
  color: black;
}








/*hammburger menu*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: -25rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: -25rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 30px;
  transform: translate(-150%);
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
}

.navbar .menu-items li {
  height: 1rem;
  width: 5rem;
  margin-bottom: 1.2rem;
  font-size: 50px;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}