body{
    background-color:#5D2EC1;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    scroll-behavior:smooth;
    margin: 0%;
}
::-webkit-scrollbar {
    display: none;
}

#hero-header{
   
    position: absolute;
    max-width: 340px;
    height: 232px;
    left: 139px;
    top: 280px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 113px;
    text-transform: uppercase;

    color: Black;
}

#hero-description{
    position: absolute;
    max-width: 235px;
    height: 46px;
    left: 150px;
    top: 512px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;

    color: Black;
}









.about-container {
    width: 100%;
    display: flex; 
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content:flex-start;
}

#about-header {
    order: 1;
    position: absolute right;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 113px;
    text-transform: uppercase;
    color: #f7ecec;
}

#about-picture {
    order: -1;
    position: absolute left;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 113px;
    text-transform: uppercase;
    color: #f7ecec;
}

#about-description{
    order: 2;
    width: 650px;
    position: absolute right;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #f7ecec;
}








#banner-wrapper{
    background-color: #f7ecec;
    padding-left: 50%;
    height: 750px;
    
}

#about-picture{
    background-color:#5D2EC1;
    height: 800px;
    width: 50%;
}

.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.wave{
    background-image: url('./images/background.svg');
}
   





